<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 container mx-auto">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button (click)="toggleDrawer()" type="button"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
            </path>
          </svg>
        </button>
        <h3 class="  italic font-bold text-lg">Homely Haven</h3>

      </div>

      <ul class=" hidden lg:flex items-center justify-center gap-4">
        @for (item of nav_links; track $index) {
        <li class="text-lg font-light"><a routerLink={{item.link}} routerLinkActive="active-link">{{item.title}}</a>
        </li>
        }
      </ul>



      <div id="drawer-navigation"
        class="fixed  hidden top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform  bg-white dark:bg-gray-800"
        [ngClass]="{'-translate-x-full' : isDrawerOpen}">
        <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
          Homely Haven</h5>
        <button type="button" (click)="toggleDrawer()" data-drawer-hide="drawer-navigation"
          aria-controls="drawer-navigation"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close menu</span>
        </button>
        <div class="py-4 overflow-y-auto">
          <ul class="space-y-2 font-medium">
            @for (item of nav_links; track $index) {
            <li>
              <a routerLink={{item.link}} routerLinkActive="active-link" (click)="toggleDrawer()"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="ms-3">{{item.title}}</span>
              </a>
            </li>
            }

          </ul>
        </div>
      </div>

      <div class="flex items-center gap-3">
        <div class=" bg-gray-100 hover:bg-gray-300 p-3 rounded-lg cursor-pointer">
          <fa-icon [icon]="notifications" />
        </div>
        <div class=" bg-gray-100 hover:bg-gray-300 p-3 rounded-lg cursor-pointer">
          <fa-icon [icon]="sun" />
        </div>
        <div class="flex items-center ms-3">
          <div>
            <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300"
              aria-expanded="false" (click)="toggleDropdown()">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                alt="user photo">
            </button>
          </div>
          @if (isDropdownOpen) {
          <div
            class="z-50 absolute right-0 top-10 origin-top-right  my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow"
            id="dropdown-user">
            <div class="px-4 py-3" role="none">
              <p class="text-sm font-bold text-gray-900" role="none">
                Siphamandla Mdletshe
              </p>
              <p class="text-sm font-light text-gray-900 truncate" role="none">
                Manager
              </p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  role="menuitem">Dashboard</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Earnings</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</a>
              </li>
            </ul>
          </div>
          }

        </div>
      </div>
    </div>
  </div>
</nav>